# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3

# Environment variables
.env
.env.*

# Media uploads
media/

# React / Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store